<nav class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> 首页
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         <ul class=" nav navbar-nav navbar-right">

                <li id="nav_2"> <a href="/itblog/">编程</a> </li>
                <li id="nav_3"><a href="">随笔</a> </li>
                 <li id="nav_4"> <a href="">阅读</a> </li>
                <li id="nav_5"> <a href="">相册</a> </li>
                <li id="nav_7"> <a href="">关于我</a> </li>
                <li id="nav_8"><a href="">留言板</a> </li>
               <li><a href="/user_auth/login/">登陆<span class="glyphicon glyphicon-log-in"></span></a></li>
               <li><a href="/user_auth/register/">注册<span class="glyphicon"></span></a>
              </li>
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
