<div class="music_list">
    <h4 style='color:#ff6600'>{{ song.name }}</h4>
    <div>
        <span><span class="glyphicon glyphicon-user"></span>&nbsp;{{ song.author }}</span>
        <span>&nbsp;&nbsp;</span>
        <span><span class="glyphicon glyphicon-credit-card"></span>&nbsp;{{ song.zhuanji }}</span>
        {% if song.is_top %}
        <span>&nbsp;&nbsp;</span>
        <span><span class="glyphicon glyphicon-plane"></span>&nbsp;<font color='#ff2200'>Top</font></span>
        {% endif %}
    </div>
    <div>

                    {% autoescape off%}
                   {{ song.url }}
                    {% endautoescape %}

    </div>
    <div class="div_hr"></div>
</div>
